.btn {
    max-width: 140px;
    max-height: 56px;
    padding: 21px 18px 21px 20px;
    background-color: rgba(234, 234, 234, 1);

    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.text {
    font-size: 12px;
    font-weight: 400;
}

.linkTo {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 11px;
    cursor: pointer;
}