.banner {
    background-color: rgba(234, 234, 234, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    font-size: 20px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}