.banner {
    background-color: rgba(234, 234, 234, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    border-left: none;
    border-right: none;
    height: 300px;
}

.bannerPicture {
    width: 100%;
    height: 100%;
}