.container {
    width: 264px;
    min-height: 392px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.img {
    width: 264px;
    height: 264px;
    background-color: rgba(196, 196, 196, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    padding: 18px 16px 26px 16px;
}

.price {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    &Container {
        display: flex;
        gap: 6px;
    }

    &Ð¡urrency {
        font-size: 12px;
    }
}

.sale {
    color: rgba(149, 149, 149, 1);
    font-size: 12px;

    &Currency {
        font-size: 8px;
        position: relative;
        bottom: 1px;
    }

    &Bar {
        width: 63px;
        height: 35.7px;
        background-color: rgba(149, 149, 149, 1);
        position: absolute;
        left: 0px;
        bottom: 0px;
        border-bottom-right-radius: 35px;
        border-top-right-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        &Text {
            margin: 0;
            padding: 0;
            color: rgba(255, 255, 255, 1);
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.product {
    margin: 6px 0 15px 0;
    font-size: 12px;
    font-weight: 400;
}

.shop {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}