.btn {
    max-width: 140px;
    max-height: 56px;
    padding: 21px 18px 21px 20px;
    background-color: rgba(234, 234, 234, 1);
    margin: 0 auto;

    display: flex;
    gap: 11px;
    align-items: center;
    cursor: pointer;
}

.text {
    font-size: 12px;
    font-weight: 400;
}