.categoryFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 5px;
  background: rgb(233, 227, 227);
  padding: 15px;
  border-radius: 20px;
}

.categoryItem {
  flex: 1 1 100px;
  max-width: 200px;
}

.categoryButton {
  padding: 15px;
  width: 100%;
  height: 100%;
  background: rgb(196, 187, 187);
  border: none;
  border-radius: 15px;
  transition: .2s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgb(145, 141, 141);
  }
}

.categoryButton.active {
  background: rgb(95, 90, 90);
}

.categoryName {
  max-width: 100%;
}
