.section {
    margin-top: 60px;
    margin-bottom: 153px;
}

.sectionHeader {
    margin-top: 41px;
    margin-bottom: 40px;
}

.sectionFooter {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}