.header {
    box-shadow: 0 -5px 10px 1px black;
    padding: 10px 0;
    background: white;
}

.headerContent {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 65px;
}

.location {
    width: 100px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navigationList {
    display: flex;
    align-items: baseline;
    gap: 30px;
}

.navigationItem {
    @supports not (gap: 30px) {
        & + & {
            margin-left: 30px;
        }
    }
}

.navigationLink {
    font-size: 16px;
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.searchInput {
    width: 480px;
    margin: 0 30px;
}

.avatar {
    margin-left: auto;
}