.shadow {
    width: 100%;
    min-height: 103px;
}

.wrapper {
    min-width: 100%;
    min-height: 103px; 
    background-color: white;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.container {
    max-width: 1120px;
    padding-top: 26.3px;
    padding-bottom: 26.3px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftWrapper {
    display: flex;
    align-items: center;
    gap: 65px;
}

.list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.link {
    text-decoration: none;
    color: black;
}

.text {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

.rightWrapper {
    display: flex;
    align-items: center;
    gap: 93px;
}

.input {
    color: black;
}

.user {
    width: 38px;
    height: 36px;
    background-image: url(../../../public/img/Avatar.png);
    background-position: center;
    background-size: cover;
}