.container {
    max-width: 1120px;
    margin: 37px auto 44px auto;
}

.title {
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    margin-top: 0;
    margin-bottom: 76px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 16px;
    column-gap: 22px;
}