.page {
    padding: 60px 0 120px;
}

.title {
    margin-bottom: 73px;
}

.section {
    & + & {
        margin-top: 155px;
    }
}

.content {
    margin-bottom: 45px;
}

.sectionFooter {
    display: flex;
    justify-content: center;
}

.button {
    padding: 21px 20px;
}
