.listHeader {
    margin: 0 0 73px 0;
}

.pageContainer {
    max-width: 1275px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 155px;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}